body{
    background-color: rgb(184, 240, 246);
}

.parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

}
.parent div{
    background-color: rgb(222, 106, 106);
    width: 200px;
    height: 200px;
    margin: 15px;
    border: 1px solid black;
    flex-basis: 250px;
    
}